<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4"></div>
            <div class="col col-12 col-sm-4">
                <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
                    <div>
                        <span class="label label-info"> <h4 class="label label-info">Select your File:</h4></span>   
                        <input type="file" name="profile_pic" class="btn btn-secondary" />
                    </div>
                    <div>
                        <input type="submit" name="btn_upload_profile_pic" class="btn btn-primary" value="Upload" />
                    </div>
                </form>
                
            </div>
            <div class="col col-12 col-sm-4"></div>     
         </div>
    </div>

    
</body>
</html>